body {
    background-color: #020403;
    color:#FFFFFF;
    font-family:sans-serif;
    position: relative;
    z-index: 99;
}
nav{
    text-align: right;
    padding: 1rem 3rem;
    position: relative;
    
}
nav button{
    background-color: black;
    border: 0;
}
nav button:hover {
    cursor: pointer;
}
nav ul{
    list-style: none;
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    width: 60%;
}
nav a{
    text-decoration: none;
    color: white;
}
.hidden {
    display: none;
}
.display{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.flotar{
    justify-content: center;
    position: absolute;
    top: 5%;
    z-index: -1;
    width: 100%;
}
.flotar1 {
    background-image: url("../images/Group\ 98.svg");
    height: 8rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 58%;
}
.flotar2{
    background-image: url("../images/Group\ 97.svg");
    height: 8rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 120%;
}
.flotar3{
    background-image: url("../images/Group\ 97.svg");
    height: 8rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: -15%;
}
.flotar img {
    width: 100%;
}
.img1{
    max-width: 50%;
    border-radius: 48%;
    padding: 4rem 0rem 3rem 0rem;
    width: auto;
}
.tit1{
    color: #ADADAD;
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
}
.tit2{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size:3.8rem;
    flex-direction: column;
    display: block;
    max-width: 50rem;
    width: 100%;
}
.tit3{
    padding-top: 0;
    font-size: 2.5rem;
    padding-left: 1.5rem;
    margin-top: 0;
    text-align: center;
}
.tit3-1{
    font-size: 2.5rem;
    padding-left: 1.5rem;
    padding-top: 2.6rem;
    margin-bottom: 0;
    text-align: left;
}
.tit4{
    color: #ADADAD;
    text-align: center;
    margin: auto;
    padding: 0;
    max-width: 80%;
    margin-top: 2rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.imag-content {
    display: flex;
    justify-content: center;
}
.imag-card {
    width: 5rem;
}
.content {
    display: flex;
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}
.img-hability {
    background-color: #1A1615;
    border-radius: 50%;
    padding: 1rem;
    min-width: 7rem;
    text-align: center;
}

.caja1-hability {
    display: inline-block;
    text-align: center;
    max-width: 150px;
    margin-right: 5rem;
    margin-bottom: 2rem;
}
.caja2-hability {
    display: flex;
    display: inline-block;
    text-align: center;
}

.table {
    text-align: left;
    display: flex;
    font-size: 1.2rem;
    padding-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
    color:#ADADAD;
}
.table th:nth-child(n) {
    padding-left: 2rem;
}
.table tr:nth-child(even) {
    font-size: 1rem;
    
}
.portafolio-container {
    padding: 0 10%;
}
.img-portafolio {
    margin-top: 2rem;
    max-width: 100%;
}
.portafolio-img-content {
    display: flex;
    justify-content: center;
}

.img-contact {
    border: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido-contacto {
    display: flex;
    justify-content: center;
    width: 100%;
}
.info-contacto {
    text-align: center;
}
.contenedor-contacto {
display: flex;
justify-content: center;
}
.header-contacto {
    padding: 2rem 0;
}

.p-final {
    color: #ADADAD;
    text-align: center;
    font-size: 1.8rem;
}
/* Small devices (portrait tablets and large phones, 540px and up) */
@media only screen and (min-width: 540px) {
    nav ul{
        width: 65%;
    }
    .flotar{
        top: 6%;
    }
    .flotar2{
        height: 8rem;
        background-position-x: 112%;
    }
    .flotar3{
        background-position-x: -12%;
    }
    .table th:nth-child(n) {
        padding-left: 10rem;
    }
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    nav button {
        display: none;
    }
    nav ul{
        display: contents;
        display: inline-block;
        text-align: right;
        width: 100%;
    }
    .hidden{
        display: contents;
    }
    ul li {
        display: inline-block;
        padding-left: 1rem;
        font-size: 0.7rem;
    }
    .flotar{
        top: 6%;
    }
    .flotar1 {
        height: 12rem;
    }
    
    .col-4 {
        display: flex;
        width: calc(100% / 12 * 4);
    }
    .img-portafolio {
        margin-top: 2rem;
        width: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
    }
    .table {
        font-size: 1.5rem;
    }

}
/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    ul li {
        display: inline-block;
        padding-left: 1rem;
        font-size: 1rem;
    }
    .flotar2{
        height: 8rem;
        background-position-x: 107%;
    }
    .flotar3{
        background-position-x: -8%;
    }
    h4 {
        padding-top: 8rem;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    ul li {
        display: inline-block;
        padding-left: 1rem;
        font-size: 1.2rem;
    }
    .img1{
        max-width: 40%;
        border-radius: 48%;
        padding: 3rem 0rem;
        width: auto;
    }
    .flotar{
        top: 6%;
    }
    .flotar1 {
        height: 14rem;
    }
    .flotar3{
        background-position-x: -6%;
    }
 }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .img1{
        max-width: 35%;
        border-radius: 48%;
        padding: 3rem 0rem;
        width: auto;
    }
    .imag-card {
        width: 7rem;
        padding-top: 2rem;
    }
    .tit3{
        font-size: 2.5rem;
        padding-left: 1.5rem;
        padding-top: 7rem;
        margin-bottom: 0;
        text-align: center;
    }
    .flotar1 {
        height: 26rem;
    }
    .flotar2{
        height: 8rem;
        background-position-x: 105%;
    }
    .flotar3{
        background-position-x: -3%;
    }
    .caja1-hability {
        display: inline-block;
        text-align: center;
        max-width: 150px;
        margin-right: 20rem;
        margin-bottom: 2rem;
    }
    .tit4 {
        font-size: 1.5rem;
    }
}